
        body{
            background-color: #EAF6F6;
        }

        hr{
            border-style: none;
            border-top: dotted;
            border-width: 5px;
            border-color: grey;
            background-color: white;
            width:5%;
            height: 0px;
        }
        h1,h3{
            color:#66bfbf;
        }